<div class="container p-4">
    <div class="row">
            <div class="card card-body text-center">
            {{#each rows}}
                <p><b>{{fname}} {{lname}}</b>, {{street}}, {{city}}, {{state}}&nbsp;&nbsp;{{postal_code}} </p>
            {{else}}
                <p>There are no patients to display.</p>
            {{/each}}
            </div>
    </div>
</div>